<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chloe's Architecture Website</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <!-- optional banner -->
  {% if page.banner == true %}
  <section class="flex justify-center items-center bg-cover bg-center min-h-100" style="background-image: url(https://picsum.photos/id/1076/600/400);">
    <!-- flex centered text box -->
    <div class="text-white">
      <h1 class="text-9xl mb-0">Barō</h1>
      <h3 class="text-right">Architecture</h3>
    </div>
    <!-- slide out burger menu -->
    <div class="absolute bg-white top-5p right-5p w-12 h-12 rounded-full burger-button cursor-pointer">
      <nav class="burger-menu flex absolute top-0 h-full right-0 bg-white rounded-full w-0 overflow-hidden items-center ">
          <!-- <a href="/about" class="p-4">about</a> -->
          <a href="/portfolio" class="p-4">portfolio </a>
          <a href="/gallery" class="p-4">gallery</a>
          <span class="p-4"> X </span>
        </nav>
    </div>
    <!-- small bouncing dot at the bottom of the -->
    <div class="absolute bg-white bottom-5p left-[cacl(50% - 1rem)] w-8 h-8 rounded-full bouncing-animation">
    </div>
  </section>
  {% endif %}
  <!-- sticky header -->
  {% if page.unique-header != true %}
  <header class="sticky top-0 px-5p p-8 bg-white border-black z-50">
    <div class="flex justify-between max-w-screen-2xl mx-auto">
      <nav class="flex justify-start items-center">
        <a href="/" class="logo ml-2 flex items-center">
        <div class="w-16 h-16 bg-black inline-block rounded-full"></div>
          <span class="pl-4">Barō architecture</span>
        </a>
      </nav>
      <nav class="flex items-start doted-nav">
          <!-- <a href="/about" class="p-4">about</a> -->
          <a href="/portfolio" class="p-4">portfolio </a>
          <a href="/gallery" class="p-4">gallery</a>
      </nav>

    </div>
  </header>
{% endif %}

  {{content}}


<!-- footer -->
  <footer class="">
    <div class="grid md:grid-cols-6 gap-8 max-w-screen-2xl mx-auto items-start">
    <div>
      <h3>
        Email
      </h3>
      <a href="mailto:hello@baro.com" class="mb-4">hello@baro.com</a>
      <h3>
        Phone
      </h3>
      <a href="tel:62 786 548 769">+62 786 548 769</a>

  </div>
    <div>
      <h3>
        Address
      </h3>
      <p class="mb-0">
        Barō Architecture
      </p>

      <p>
        100 Infinity Road, Pererenan, 39124 Indonesia
      </p>

    </div>
    <div class="md:col-span-2 self-center">
      <div class="mx-auto max-w-[12rem]">
        <img src="/archi-website-images/baro-logo-black.svg" alt="" class="">
      </div>
    </div>
    <div>
      <h3>
        links
      </h3>
        <a href="/about" class="py-1">about</a>
        <a href="/portfolio" class="py-1">portfolio </a>
        <a href="/gallery" class="py-1">gallery</a>
    </div>
    <div>
      <h3>
        blog
      </h3>
      <a href="mailto:hello@baro.com">hello@baro.com</a>
    </div>

  </footer>
  <div class="text-center">
    Designed by Chloe </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js"></script>
  <script src="/main.js"></script>
</body>
</html>