---
layout: default
---

<section class="bg-center min-h-100 flex flex-col justify-between p-0" style="background-image: url({{page.featured_image}}); color: {{page.header-text-color}} ; ">
  <header class="sticky top-0 px-5p p-8 border-black z-50">
    <div class="flex justify-between max-w-screen-2xl w-full mx-auto">
      <nav class="flex justify-start items-enter">
        <div class="w-16 h-16 bg-black inline-block rounded-full" style="background-color:{{page.header-text-color}} ;"></div> <a href="/" class="logo ml-2">Barō architecture</a>
      </nav>
      <nav class="flex items-start doted-nav">
        <!-- <a href="/about" class="p-4">about</a> -->
        <a href="/portfolio" class="p-4">portfolio </a>
        <a href="/gallery" class="p-4">gallery</a>
      </nav>
    </div>
  </header>
  <div class="flex justify-center relative bottom-[-3rem]">
    <div class="-rotate-90 flex items-end gap-3">
      <div class="rotate-180">
        {% include arrow.html color='#000' %}
      </div>
      <div class="w-8 h-8 bg-black inline-block rounded-full" style="background-color: {{page.header-text-color}};"></div>
        <h1 class="inline text-7xl self-center leading-none !mb-[-18px] w-0">
          {{page.title}}
        </h1>


    </div>
  </div>
</section>

{% for sec in page.gallerySections %}
<section class="px-[5vw] py-[6vw]">
  <div class="max-w-screen-2xl mx-auto grid md:grid-cols-3 gap-x-[5vw] gap-y-[6vw] items-center">

    <div class="col-span-full py-[3vw]">
      <div class="aspect-landscape-wide relative">
        <img src="{{sec.image-1-url}}" alt="{{sec.image-1-alt}}" class="img-overlay">
      </div>
    </div>
    <div class="row-span-2">
      <div class="aspect-portrait relative">
        <img src="{{sec.image-2-url}}" alt="{{sec.image-2-alt}}" class="img-overlay">
      </div>
    </div>

    <div class="pt-[6vw]">
      <div class="aspect-landscape relative">
        <img src="{{sec.image-3-url}}" alt="{{sec.image-3-alt}}" class="img-overlay">
      </div>
    </div>

    <div class="pb-[6vw]">
      <div class="line-clamp-6">
        {{sec.text-1-html}}
      </div>
    </div>

    <div class="row-span-3 pt-[6vw]">
      <div class="aspect-portrait relative">
        <img src="{{sec.image-4-url}}" alt="{{sec.image-4-alt}}" class="img-overlay">
      </div>
    </div>
    <div class="row-span-3 pb-[6vw]">
      <div class="aspect-portrait relative">
        <img src="{{sec.image-5-url}}" alt="{{sec.image-5-alt}}" class="img-overlay">
      </div>
    </div>
    <div class="row-span-2">
      <div class="aspect-landscape relative">
        <img src="{{sec.image-6-url}}" alt="{{sec.image-6-alt}}" class="img-overlay">
      </div>
    </div>

    <div class="">
      <div class="">
        {{sec.text-2-html}}
      </div>
    </div>

    <div class="col-span-2 pt-[6vw]">
      <div class="aspect-landscape-wide relative">
        <img src="{{sec.image-4-url}}" alt="{{sec.image-4-alt}}" class="img-overlay">
      </div>
    </div>
    <div class="col-span-2 pt-[6vw]">
      <div class="aspect-landscape-wide relative">
        <img src="{{sec.image-5-url}}" alt="{{sec.image-5-alt}}" class="img-overlay">
      </div>
    </div>
    <div class="pt-[6vw]">
      <div class="aspect-portrait relative">
        <img src="{{sec.image-6-url}}" alt="{{sec.image-6-alt}}" class="img-overlay">
      </div>
    </div>

  </div>
</section>
{% endfor %}